[package]
name = "xmas-js"
version = "0.10.0"
authors = ["LemonHX <lemonhx@lemonhx.moe>"]
edition = "2021"
rust-version = "1.85"
license = "MIT"
readme = "README.md"
description = "High level bindings to the QuickJS JavaScript engine"


[workspace]
members = [
  "rsquickjs",
  "modules",
  "repl",
]

[workspace.dependencies]
rsquickjs = { version = "0.10.0", path = "rsquickjs" }
xmas-js-modules = { path = "modules" }

[dependencies]



[features]
default = []



